<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyDoiBong.Properties.Settings.QLBDConnectionString"
            connectionString="Data Source=DESKTOP-QP9VPHV\SQLEXPRESS;Initial Catalog=QLBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyDoiBong.Properties.Settings.QLBDConnectionString1"
            connectionString="Data Source=THANH_CHUNG;Initial Catalog=QLBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>